<div class="profile-wrapper" *ngIf="profileModel != undefined">
  <div class="profile-wrapper-row">
    <mat-card>
      <mat-card-title>
        First Name
      </mat-card-title>
      <mat-card-content>
        {{profileModel.firstname}}
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>
        Last Name
      </mat-card-title>
      <mat-card-content>
        {{profileModel.firstname}}
      </mat-card-content>
    </mat-card>
  </div>
  <div class="profile-wrapper-row">
    <mat-card>
      <mat-card-title>
        Email
      </mat-card-title>
      <mat-card-content>
        {{profileModel.email}}
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>
        Username
      </mat-card-title>
      <mat-card-content>
        {{profileModel.username}}
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>
        Date Of Birth
      </mat-card-title>
      <mat-card-content>
        {{getFormattedDate()}}
      </mat-card-content>
    </mat-card>
  </div>
  <mat-card>
    <mat-card-header class="header-title">Tests</mat-card-header>
    <div class="test-card" *ngFor="let finishedTest of finishedTests;">
        <div>Test: {{ finishedTest.title }}</div>
        <div>Time: {{ Utils.getFormattedTime(finishedTest.time) }}</div>
        <div>Accuracy: {{ finishedTest.accuracy }}%</div>
    </div>
  </mat-card>
  <button mat-button mat-raised-button class="report-button" (click)="profile.setReport()">SEND REPORT</button>
</div>

