mat-card {
  width: 100%!important;
}

.profile-wrapper {
  display: flex;
  flex-direction: column;
}

.profile-wrapper-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 10px;
}

mat-card {
  padding: 5px;
}

mat-card-title {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

mat-card-content {
  font-size: 16px;
}

.header-title {
  font-size: 32px;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
}

.test-card {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  padding: 10px 0;
}

.report-button {
  margin-top: 10px;
}
