<form class="login-form" [formGroup]="registerForm">
  <input
    type="text" placeholder="First Name" formControlName="firstName"
  />
  <input
    type="text" placeholder="Last Name" formControlName="lastName"
  />
  <input
    type="text" placeholder="Username" formControlName="username"
  />
  <input
    type="email" placeholder="Email" formControlName="email"
  />
  <input
    type="date" placeholder="Date Of Birth" formControlName="dateOfBirth"
  />
  <input
    type="password" placeholder="Password" formControlName="password"
  />
  <button (click)="onSumbit()">LOGIN</button>
</form>
